server:
  port: 8060

spring:
  application:
    name: skch-gateway-service

  cloud:
    gateway:
      # =========================
      # GLOBAL CORS CONFIG
      # =========================
      globalcors:
        add-to-simple-url-handler-mapping: true
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - http://localhost:5173
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - Authorization
              - Content-Type
              - RequestVerify
            allowCredentials: true

      # =========================
      # ROUTES
      # =========================
      routes:

        # -------------------------
        # API SERVICE (8062)
        # -------------------------
        - id: api-service
          uri: http://localhost:8062
          predicates:
            - Path=/apiService/**
          filters:
            - StripPrefix=1
            #- CircuitBreaker=name=apiCircuitBreaker,fallbackUri=forward:/fallback/apiServiceFallback

        # -------------------------
        # AUTH SERVICE (8061)
        # -------------------------
        - id: oauth2-service
          uri: http://localhost:8061
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=1

    loadbalancer:
      enabled: true

  # =========================
  # SECURITY (JWT VALIDATION)
  # =========================
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8061

  # =========================
  # REDIS (OPTIONAL)
  # =========================
  data:
    redis:
      host: localhost
      port: 6379

# =========================
# LOGGING
# =========================
logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: DEBUG
